* {
    margin: 0px;
    padding: 0px;
}

body {

    font-family: "Poppins", sans-serif;
}

.all-section {
    margin: 50px 150px;
    background-color: rgb(250, 250, 250);
}

/* section-1 starts */
.section-1-1 img {
    width: 100%;
    margin-bottom: 120px;
}

/* section two starts */

.section-2 {
    text-align: center;
    margin-bottom: 120px;
}

.section-2 h1 {
    font-size: 88px;
    margin-bottom: 48px;
    color: #ff0000;
}

.section-2 h6 {
    font-size: 24px;
    font-weight: 500;
    color: #ff0000;
    margin-bottom: 16px;
}

.section-2 h2 {
    font-size: 48px;
    margin-bottom: 24px;
}

.section-2-1 img {
    width: 50%;
}

/* section three starts */

.section-3 img {
    width: 100%;
    margin-bottom: 120px;
}

/* section four starts */
.section-4 {
    text-align: center;
    font-size: 36px;
    padding: 100px;
    background-color: #ffe1e1;
    border-radius: 24px;
    margin-bottom: 120px;
}

.section-4 span {
    color: red;
}

.section-4-btn {
    border: none;
    padding: 16px 32px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
}



/* section-5 starts */

.section-5-1 {
    display: flex;
    align-items: center;
}

.section-5-left {
    padding: 20px;

}

.section-5-center {
    border-radius: 1000px;
    padding: 16px;
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.section-5-right {
    padding: 20px;
}

.section-5-center img {
    width: 100%;
    border: 5px solid rgb(255, 60, 0);
    border-radius: 500px;
    padding: 16px;
}



/* section-6 */
.section-6 {
    text-align: center;
    padding: 50px 200px;
}

.section-6 h4 {
    font-size: 24px;
}

.section-6 h1 {
    font-size: 72px;
}

.section-6 span {
    color: red;
}

.section-6 p {
    font-size: 20px;
}




/* section-7 */

.section-7 {

    margin-bottom: 100px;
}

.section-7-1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 100px;
}



.section-7-2 img {
    width: 100%;
    position: relative;
    bottom: 230px;
    z-index: .9;
}

.section-7-1-img-1 {
    z-index: 1;
}

.section-7-1-img-2 {
    z-index: 1;
}

.section-7-3 img {

    position: relative;
    bottom: 890px;
    left: 1000px;
    z-index: 1;
}






/* responsive max width 400px */

@media screen and (max-width:400px) {


    .all-section {
        margin: 16px;
        background-color: rgb(250, 250, 250);

    }


    /* section-1 starts */
    .section-1-1 img {
        width: 100%;
        margin-bottom: 60px;
    }

    /* section two starts */

    .section-2 {
        text-align: center;
        margin-bottom: 40px;
        padding: 20px;
    }

    .section-2 h1 {
        font-size: 32px;
        margin-bottom: 16px;
        color: #ff0000;
    }

    .section-2 h6 {
        font-size: 20px;
        font-weight: 400;
        color: #ff0000;
        margin-bottom: 8px;
    }

    .section-2 h2 {
        font-size: 16px;
        margin-bottom: 16px;
    }

    .section-2 img {
        width: 50%;
    }





    /* section 3 starts  */
    .section-3 img {
        width: 100%;
        margin-bottom: 60px;
    }

    /* section four starts */
    .section-4 {
        text-align: center;
        font-size: 12px;
        padding: 16px;
        background-color: #ffe1e1;
        border-radius: 8px;
    }

    .section-4 span {
        color: red;
    }

    .section-4-btn {
        margin-top: 8px;
        border: none;
        padding: 12px 20px;
        background-color: red;
        color: white;
        font-size: 12px;
        font-weight: 600;
        border-radius: 8px;
    }




    /* section-5 styles  */
    .section-5 {
        text-align: center;
    }

    /* section-5 starts */

    .section-5-1 {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .section-5-left {
        padding: 16px;

    }

    .section-5-center {

        border-radius: 1000px;
        padding: 16px;
        margin: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-5-center img {
        width: 100%;
        border: 2px solid green;
        border-radius: 500px;
        padding: 16px;
    }

    .section-5-right {
        padding: 16px;
    }


    /* section-6 */
    .section-6 {
        margin-top: 50px;
        text-align: center;
        padding: 20px;
    }

    .section-6 h4 {
        font-size: 18px;
    }

    .section-6 h1 {
        font-size: 32px;
    }

    .section-6 span {
        color: red;
    }

    .section-6 p {
        font-size: 16px;
        text-align: justify;
    }





    /* section-7 */

    .section-7 {

        margin-bottom: 0px;
        padding: 16px;
        display: flex;
        flex-direction: column;
    }

    .section-7-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }

    .section-7-1 img {

        width: 100%;

    }

    .section-7-2 img {
        display: none;
    }

    .section-7-3 {
        display: none;
    }









}


/* responsive max width 576px */

@media screen and (min-width:401px) and (max-width:650px) {



    .all-section {
        margin: 16px;
        background-color: rgb(250, 250, 250);
    }


    /* section-1 starts */
    .section-1-1 img {
        width: 100%;
        margin-bottom: 60px;
    }

    /* section two starts */

    .section-2 {
        text-align: center;
        margin-bottom: 60px;
    }

    .section-2 h1 {
        font-size: 44px;
        margin-bottom: 24px;
        color: #ff0000;
    }

    .section-2 h6 {
        font-size: 24px;
        font-weight: 400;
        color: #ff0000;
        margin-bottom: 8px;
    }

    .section-2 h2 {
        font-size: 24px;
        margin-bottom: 24px;
    }

    .section-2 img {
        width: 50%;
    }

    /* section 3 start  */
    .section-3 img {
        width: 100%;
        margin-bottom: 60px;
    }


    /* section four starts */
    .section-4 {
        text-align: center;
        font-size: 14px;
        padding: 16px;
        background-color: #ffe1e1;
        border-radius: 8px;
    }

    .section-4 span {
        color: red;
    }

    .section-4-btn {
        margin-top: 10px;
        border: none;
        padding: 14px 24px;
        background-color: red;
        color: white;
        font-size: 13px;
        font-weight: 600;
        border-radius: 8px;
    }

    /* section-5 styles  */
    .section-5 {
        text-align: center;
    }

    /* section-5 starts */

    .section-5-1 {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .section-5-left {
        padding: 16px;

    }

    .section-5-center {

        border-radius: 1000px;
        padding: 16px;
        margin: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-5-center img {
        width: 100%;
        border: 2px solid green;
        border-radius: 500px;
        padding: 16px;
    }

    .section-5-right {
        padding: 16px;
    }

    /* section-6 */
    .section-6 {
        margin-top: 50px;
        text-align: center;
        padding: 20px;
    }

    .section-6 h4 {
        font-size: 20px;
    }

    .section-6 h1 {
        font-size: 36px;
    }

    .section-6 span {
        color: red;
    }

    .section-6 p {
        font-size: 16px;
        text-align: justify;
    }




    /* section-7 */

    .section-7 {

        margin-bottom: 0px;
        padding: 16px;
        display: flex;
        flex-direction: column;
    }

    .section-7-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
    }

    .section-7-1 img {

        width: 100%;

    }

    .section-7-2 img {
        display: none;
    }

    .section-7-3 {
        display: none;
    }






}